{
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
      "node": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
  },
  "rules": {
      "no-var": "error",
      "prefer-const": "error",
      "prefer-arrow-callback": "error",
      "no-fallthrough": "off",
      "@typescript-eslint/ban-ts-comment": "warn",
      "@typescript-eslint/member-delimiter-style": "off"
  }
}